{% extends "books/base.html" %}

{% block page_title %}{{ user.username}}{% endblock %}

{% block content %}

	{% if user.is_authenticated %}
		<h3>You can change your password below!</h3>
		<div class="add_a_book">
			{% if form.errors %}
				<p style="color:red;">
					Please correct the error{{ form.errors|pluralize }} below.</p>
			{% endif %}
			<div class="grid_12 reset_password_error">
				<ul>
					<li>{{ confirm_data }}</li>
				</ul>
			</div>
			<form action="" method="post">{% csrf_token %}
					{{ form.as_p }}
				<input type="submit" value="Update">
			</form>
		</div>
	{% else %}
		<p>Please <a href="{% url 'books:login_view' %}">Log in</a> or <a href="{% url 'books:createUser' %}">Create an Account</a>.</p>
	{% endif %}

{% endblock %}
