{% extends "books/base.html" %}

{% block page_title %}Mission Statement{% endblock %}

{% block content %}

<p>The goal of the site is to post books that you have read and share your insights from reading the books with others.  To help them learn something that they might have learned if they read the book without actually having to spend the time to read the whole book.  From there, other people can go out and get books that they are interested in and want to learn more about or explore in greater detail.</p>

<p>I hope you enjoy the site.  This is my first <em>Django | Python</em> powered site.  If there are any added features or bugs that you notice please contact me, so I can fix them.  If there is anything else, or you just feel like contactng me then please do so.  If you have an idea for a website and may like to collaborate on it in the future, please contact me as well.</p>

<p>Thank you and Enjoy!!</p>
	
{% endblock %}
