{% extends "books/base.html" %}

{% block page_title %}Reset Password{% endblock %}

{% block content %}
	
	<div class="add_a_book">
		{% if form.errors %}
			<p style="color:red;">
				Please correct the error{{ form.errors|pluralize }} below.</p>
		{% endif %}
		<div class="grid_12 reset_password_error">
			<ul>
				<li>{{ no_match }}</li>
				<li>{{ no_user }}</li>
			</ul>
		</div>
		<form action="" method="post">{% csrf_token %}
				{{ form.as_p }}
			<input type="submit" value="Submit">
		</form>
	</div>
	
{% endblock %}